@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    position: fixed;
    top: 10px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
	z-index: 100;
}

nav a{
    color:#222;
    text-decoration: none;
	font-size: 20px;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
	color: #FF9918;
}

.logo{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

header{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    height: auto;
    padding: 48px;
    width: 100%;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.textos{
    width: 70%;
    color:#fff;
}

.textos h1{
    font-size:100px;
    animation: moverDerecha 1s ease-in;

}

.textos h2{
    font-size:35px;
    animation: moverIzquierda 1s ease-in;
}

.textos a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;

}

.wave{
    height: 100px;
    width: 100%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.uno{
    
-webkit-clip-path: circle(0% at 0 0);
clip-path: circle(0% at 0 0);

}

.dos{
    
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
    
    }

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px){
    .portada{
        height: 400px;
    }

}

@media screen and (max-width:800px){
    .portada{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2{
        font-size: 25px;
    }
    
}

@media screen and (max-width:700px){
    .portada{
        height: 250px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 15px;
    }
    
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }    
}

@media screen and (max-width:340px){
    img{
        height: 160px;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos a{
        width: 120px;
    }
    .textos h2{
        font-size: 15px;
    }
    
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #FF9918;
    font-size: 15px;
    text-align: center;
    margin-bottom: 60px;
}

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

#psico {
    height: 800px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #fff;
}
#leftpsico {
    padding: 10px;
    float: left;
    height: 500px;
    width: 40%;
    margin-right: 15px;
}
#leftpsico {
    padding: 10px;
    float: left;
    height: 500px;
    width: 54%;
    margin-right: 15px;
}
#rightpsico {
    padding: 10px;
    float: right;
    height: 500px;
    width: 40%;
}

p{
    text-align: justify;
	font-size: 13px;
}

a{
   font-size: 13px;
}

a span{
    background: #FF9918;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 8px;
    height: 8px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

h3{
	font-size: 17px;
}

/* footer */

.sitios{
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: #ECECEC;
}

.apli{
    width: 60px;
	height: 34px;
}

footer{
    background: #222;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #FF9918;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }
	
